<h2>Articles:</h2>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th>&emsp;</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><h6><%= article.title %></h6></td>
      <td><%= article.line %></td>
      <td><%= article.user.username %></td>
      <td> <!--class="btn-group btn-group-justified"-->
          <%= link_to 'Read', article_path(article), type: :button, :class => "btn btn-info" %>
      </td>
    </tr>
  <% end %>
</table>
