<div class="container">
  <table class="col-lg-12">
	<tr> </tr>
	<tr>
		<td ><h2 class="text-center"><%= @article.title %></h2></td>
	</tr>
	<tr> </tr>
	<tr>
		<td class="text-justified"><pre>  </pre><%= @article.text %></td>
	</tr>
  </table>
  <br><br><br>
  <%= link_to '<button type="button" class="btn btn-info" >Index</button>'.html_safe, articles_path %>
  <%= link_to '<button type="button" class="btn btn-danger" >Delete</button>'.html_safe, article_path(@article),
  	              method: :delete,
                  data: { confirm: 'Are you sure?' } %>
</div>