<div class="container">
	<br>
	<h4>The Bloogie! is a Blogger application built with ruby on rails along with Bootstrap, CSS and Javascript.</h4>
	<br><br>
	<%= link_to '<button type="button" class="btn btn-primary" ><h4>My Articles</h4></button>'.html_safe, controller: 'articles' %>
</div>
